:root {
    --first-color: #03989e;
    --second-color: #ff914d;
    --third-color: #fff;
}

/*Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--third-color);
    
    
}

.border-bottom {
    border-bottom: 5px var(--third-color) solid;
}

/*Heading & Navigation Styles*/

header {
    background-color: var(--first-color);
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    padding: 10px 20px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav li {
    padding-right: 40px; 
      
   
}
header ul li a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.85vw;
    font-weight: 900;
    
          
}

.hero {
    height: 600px;
    background-image: url(../images/hero.png);
    background-size:cover;  
    

}

/* Section Styling */
section {
    width: 100%;   
    background-color: var(--first-color);
    padding:20px;
    
    
}

.section-title-container {
    flex: 1 8%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-container {
    flex: 4 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}

.section-title {
    color:var(--third-color);
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 28px;
    
      
}



/*About Me Section */
#about-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
    
}

.about-me-container {
    background-color: var(--first-color);
    display: flex; 
    justify-content: space-between;
    
    
}




.my-image {
    flex-shrink: 0;
    padding: 20px;
    
    
}

.my-image img {
    border: var(--third-color) 5px solid;
    border-radius: 25%;
    width: 90%;
    
    
}
.my-info {
    flex: 4;
    padding: 20px;
    font-size: 16px;
    color: var(--third-color);
    font-size: 16px;
    
}


/* My Work Styles */
 
#my-work {
    background-color: var(--second-color);
    display: flex;
    justify-content: space-around;
    
}

.image-box-container {
    padding-bottom: 10px;
}

.image-box-container h3 {
    padding-bottom: 20px;
    text-align: center;
}



/* Contact Me Section */
#contact-me {
    background-color: var(--first-color);
    display: flex;
        
}

.contact-info-container h4 {
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 10px;
    
}

.contact-info-container a {
    color:var(--third-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300px;
    
    }



.contact-info p {
        font-size: 16px;
        line-height: 1.5em;   
    }







/*Footer Styles */

footer {
    background-color: var(--second-color);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    top: 0px;
    margin: 0 auto;
    padding: 5px 40px;
    width: 100%;
    
    
}

footer h2 {
    font-size: 20px;
    color: var(--third-color);
    text-align: center;
}



/* Media Queries */

/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header ul li a {
        font-size: 20px;
    }

    .hero {
        height: 500px;
        background-position: center;
    }

    #about-me, #my-work, #contact-me{
        flex-direction: column;
    }

    

    .section-title {
        text-align: center;
        writing-mode: inherit;
        padding-bottom: 20px;
        border-bottom: 5px var(--third-color) solid;
        width: 50%;
        
    }

    .content-container{
        padding: 20px;
    }


}

/* Media Query for Tablets and Smaller */
@media screen and (max-width: 768px) {
    
    
    header {
        display: inherit;
        
    }

    .logo {
        display: block;
        margin: 10px auto;
    }

    header nav li {
        margin: 0px auto;
    }
   
    .about-me-container {
        flex-direction: column;
    }

    .my-work-container {
        display: block;
        margin: 10px auto;
    }

    .large-work-image {
        width: 400px;
    }
    
    .image-box-container {
        margin-top: 20px;
    }

    .work-image {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

   .contact-info-container {
       display:block;
       margin: 10px auto;
   }

   .contact-info  {
    text-align: center;
    padding: 10px 0;
    }

    footer {
        display: block;
        
    }

    footer h2 {
        padding-top: 10px;
    }

}

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    .my-info p, .contact-info p, .contact-info a {
        font-size: 18px;
        font-weight: 600;
    }

    .contact-info h4 {
        font-size: 22px;
    }

     
}









