/*Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.section-title-container {
    flex: 1 10%;
    border: 5px purple solid;
    

}

.content-container {
    flex: 4 80%;
    border: 5px red solid;

}

/*Heading & Navigation Styles*/

header {
    background-color: #03989e;
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    padding: 10px 20px;
    border-bottom: 5px solid #fff;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav li {
    padding-right: 40px; 
      
   
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.85vw;
    font-weight: 900;
    
          
}

.hero {
    height: 600px;
    background-image: url(../images/hero.png);
    background-size:cover;
    border-bottom: 5px solid #fff;
    

}


/* Section Titles */
section {
    width: 100%;   
    background-color: #03989e;
    padding:20px;
       
}




/*About Me Section */
#about-me {
    display: flex;
    border: 5px #000 solid;
    justify-content: space-between;
}

.about-me-container {
    background-color: #03989e;
    display: flex; 
    justify-content: space-around;
    
    
}



.section-title {
    color:#fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 28px;
    border: 5px #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
   
      
}

.my-image {
    flex-shrink: 0;
    padding: 20px;
    
    
}

.my-image img {
    border: orange 5px solid;
    border-radius: 25%;
    width: 100%;
    
    
}
.my-info {
    flex: 4;
    padding: 20px;
    font-size: 16px;
    color: #fff;
    
}


/* My Work Styles */
 
#my-work {
    background-color: #ff914d;
    display: flex;
    border: 5px #000 solid;
    
}

.my-work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.product-title {
    color:#fff;
}

.large-image-box-container {
    display: flex;
    flex-direction: column;
}


/* Contact Me Section */
#contact-me {
    background-color: #03989e;
    display: flex;
    border: 5px #000 solid;
    
}
.container-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.container-contact h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color:#fff;
}



/*Footer Styles */

footer {
    background-color: #ff914d;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    top: 0px;
    margin: 0 auto;
    padding: 5px 40px;
    width: 100%;
    
}

footer h2 {
    font-size: 20px;
    color: #fff;
    text-align: center;
}








